section{
    margin-top: 30px;
}
img {
    width: 100%;
    max-width: 475px;
}
form {
    min-width: 345px;
    width: 100%;
    max-width: 475px;
}

.form-text {
    color: #9ba3ac;
}
form > h2 {
    text-align: center;
}
form .btn-submit {
    width: 100%;
}
