section{
    margin-top: 30px;
}
img {
    width: 100%;
    max-width: 475px;
}
form {
    min-width: 345px;
    width: 100%;
    max-width: 475px;
}

.form-text {
    color: #9ba3ac;
}
form > h2 {
    text-align: center;
}
form .btn-submit {
    width: 100%;
}
.wrong-input {
    border: solid 2px lightpink !important;
    box-shadow: 0px 0px 10px lightpink;
}
.wrong-span {
    display: block !important;
    color: lightpink !important;
}
